<!DOCTYPE html><html><head><meta http-equiv="Content-type" content="text/html; charset=<: $settings.charset :>" />
<title>One Fourty!<: if $q { :> ◊ <: $q } :></title>
<link rel="stylesheet" href="<: $request.uri_base :>/css/style.css" />
<div id="page">

    <div id="sidebar">
        <ul id="sidebar-items">
            <li>
                <h3>Latest contestants</h3>
                <ul class="links">
                    : for $contestants -> $d {
                    <li>[<: $d.matched :>/<: $d.total :>] <a href="/user/<: $d.name :>">@<: $d.name :></a></li>
                    : }
                </ul>
            </li>
            <li>
                <h3>Latest winners</h3>
                : if $winners.size() {
                <ul>
                    : for $winners -> $d {
                    <li>[<: $d.matched :>/<: $d.total :>] <a href="/user/<: $d.name :>">@<: $d.name :></a></li>
                    : }
                </ul>
                : } else {
                Nobody won yet :(
                : }
            </li>
            : if $losers.size() {
            <li>
                <h3>Latest losers</h3>
                <ul>
                    : for $losers -> $d {
                    <li>[<: $d.matched :>/<: $d.total :>] <a href="/user/<: $d.name :>">@<: $d.name :></a></li>
                    : }
                </ul>
            </li>
            : }
        </ul>
    </div>

    <div id="content">

        <div id="header">
            <h1>One Fourty!</h1>
            <h2>Meet the 140 characters challenge!</h2>

            <div id="search">
                <form method="POST" action="/search">
                    <label for=q>Search for:</label><input name=q width=80 <: if $q { :>value="<: $q :>" <: } :>/>
                    <input type=submit name=search value="Search" />
                </form>
            </div>

        </div>

        <div id="maincontent">

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
            <script>!window.jQuery && document.write('<scr'+'ipt type="text/javascript" src="<: $request.uri_base :>/javascripts/jquery.js"><\/scr'+'ipt>')</script></head><body>

            <: $content | raw :>
        </div>

    </div>

</div><div id="footer">Powered by <a href="http://www.perl.org/">Perl</a>, <a href="http://perldancer.org/">Dancer</a> <: $dancer_version :> and <a href="http://p3rl.org/Net::Twitter">Net::Twitter</a> - code on <a href="https://github.com/mfontani/OneFourty">github</a><br />Bitcoin donations: 1QA1K3Ghz9AuJ8na6JKJVudEko3WKx1xC2<br />Twitter data is cached for 5 minutes.</div></body></html>
